fastapi
uvicorn
pillow
requests
python-multipart
python-dotenv
gunicorn
numpy
cloudinary
moviepy==1.0.3
apscheduler
edge-tts
pydantic
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
razorpay
passlib==1.7.4
bcrypt==4.0.1
pymongo
gTTS
google-genai
google-generativeai
qrcode
